mixin twitter
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='twitter', src=require("../images/svg/twitter.png"))
mixin facebook
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='facebook', src=require("../images/svg/facebook.png"))
mixin instagram
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='instagram', src=require("../images/svg/instagram.png"))
mixin logo(classname)
    img(src=require("../images/svg/logo.svg"))
mixin symbol(name, classname)
    span.material-icons(class=classname) #{name}
mixin symbol-out(name, classname)
    span.material-icons-outlined(class=classname) #{name}
mixin droplist(name, classname)
    span.material-icons(class=classname) #{name}
        ul.header__droplist.header__droplist--service
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
mixin button-tr(name)
    .button__gradient
        button.button.button--tr #{name}
mixin bigbutton-tr(name)
    .button__gradient.button__gradient--big
        button.button.button--tr.button--big #{name}
mixin button(name)
    button.button #{name}
mixin calendar(id)
    .date-dropdown 
        label.date-dropdown__label
        span.material-icons.date-dropdown__icon expand_more
        input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id=id)
mixin calendarwide(id, classname1, classname2)
    .date-dropdown 
        label.date-dropdown__label
        span.material-icons.date-dropdown__icon(class=classname2) expand_more
        input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id=id, class=classname1)
mixin heading(title, classname)
    h3.form__title(class=classname) #{title}
mixin h1heading(title)
    h1.form__h1title #{title}
mixin h2heading(title)
    h2.form__h2title #{title}
mixin guest-dropdown 
    .iqdropdown-guest(id='iqdropdown2')
        p.iqdropdown-selection ...
        .iqdropdown-menu 
            .iqdropdown-menu-option(data-id="guest1"  data-defaultcount="0" data-mincount="0" data-maxcount="4")
                div 
                    p.iqdropdown-item взрослые
            .iqdropdown-menu-option(data-id="guest2" data-defaultcount="0" data-mincount="0" data-maxcount="6")
                div 
                    p.iqdropdown-item дети
            .iqdropdown-menu-option(data-id="guest3" data-defaultcount="0" data-mincount="0" data-maxcount="2")
                div 
                    p.iqdropdown-item младенцы
            .iqdropdown-buttons
                .iqdropdown-buttons__button
                    button.iqdropdown-buttons__clear очистить
                .iqdropdown-buttons__button
                    button.iqdropdown-buttons__apply применить
mixin arrow-button(title, classname)
    .pay(class=classname)
        button.pay__button #{title}
mixin arrow-button-wide(title, classname)
    .pay(class=classname)
        button.pay__button 
            p.pay__button-text #{title}
mixin text-field(placeholder, name, classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="text-field" placeholder=placeholder)
mixin email-field(classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="email" placeholder='Email')
mixin pass-field(classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="password" placeholder='Пароль')
mixin radio(value, name, title)
    .radio-buttons__wrapper
        label.radio-buttons__label
            input.radio-buttons__input(type='radio' name=name value=value)
            span.radio-buttons__style 
            | #{title}
mixin toggle(text)
    .toggle 
        label.toggle__label
            input.toggle__input(type='checkbox')
            span.toggle__slider
            | #{text}
mixin roomnum(num)
    .book-form__room-number
        p.book-form__room-text.book-form__room-text--small №
        p.book-form__room-text.book-form__room-text--big #{num}
mixin roomclass 
    .book-form__room-class
        p.book-form__room-text.book-form__room-text--class.book-form__room-text--card люкс
mixin graytext(text1, text2, classname) 
    .book-form__room-price.book-form__room-price--nomargin
        p.book-form__room-text.book-form__room-text--price #{text1} 
        p.book-form__room-text.book-form__room-text--name(class=classname) #{text2}
mixin rate(id1, id2, id3, id4, id5, name)
    .rate 
        .rate__scale
            input.rate__input(checked id=id1 value='5' type="radio" name=name)
            label.rate__label.material-icons(for=id1)
            input.rate__input( id=id2 value='4' type="radio" name=name)
            label.rate__label.material-icons(for=id2)
            input.rate__input(id=id3 value='3' type="radio" name=name)
            label.rate__label.material-icons(for=id3)
            input.rate__input(id=id4 value='2' type="radio" name=name)
            label.rate__label.material-icons(for=id4)
            input.rate__input(id=id5 value='1' type="radio" name=name)
            label.rate__label.material-icons(for=id5)
mixin rating1
    .rate 
        .rate__scale
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id1)
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id2)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id3)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id4)
            input.rate__input(disabled checked type="radio")
            label.rate__label.material-icons(for=id5)
mixin rating2
    .rate 
        .rate__scale
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id1)
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id2)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id3)
            input.rate__input(disabled  checked type="radio")
            label.rate__label.material-icons(for=id4)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id5)
mixin rating3
    .rate 
        .rate__scale
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id1)
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id2)
            input.rate__input(disabled checked type="radio")
            label.rate__label.material-icons(for=id3)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id4)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id5)
mixin rating4
    .rate 
        .rate__scale
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id1)
            input.rate__input(disabled checked type="radio")
            label.rate__label.material-icons(for=id2)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id3)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id4)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id5)
mixin rating5
    .rate 
        .rate__scale
            input.rate__input(disabled checked type="radio")
            label.rate__label.material-icons(for=id1)
            input.rate__input(disabled  type="radio")
            label.rate__label.material-icons(for=id2)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id3)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id4)
            input.rate__input(disabled type="radio")
            label.rate__label.material-icons(for=id5)
mixin register(button)
    .register-form
        +h1heading('Регистрация аккаунта')
        .register-form__cred
            +text-field('Имя', 'name', 'text-field__fit')
            +text-field('Фамилия', 'surname', 'text-field__fit')
        .register-form__sex
            +radio('male', 'sex', 'Мужчина')
            +radio('female', 'sex', 'Женщина')
        .register-form__birthday
            +heading('дата рождения')
            +calendarwide('datedropdown', 'date-dropdown__input--wide', 'date-dropdown__icon--inv')
        .register-form__account
            +heading('Данные для входа в сервис', 'form__title--acc')
            +email-field
            +pass-field
        .register-form__subscription
            +toggle('Получать спецпредложения')
        .register-form__buttons
            +arrow-button(button, 'pay--margin')
        .register-form__login
            a.register-form__login-text Уже есть аккаунт на Toxin
            .register-form__login-link
                +bigbutton-tr('войти')
mixin signin 
    .login-form
        +h1heading('Войти')
        .login-form__cred 
            +email-field
            +pass-field
        .login-form__button 
            +arrow-button('войти')
        .login-form__login
            a.login-form__login-text Нет аккаунта на Toxin?
            .login-form__login-link
                +bigbutton-tr('создать')
mixin room1
    img(src=require("../images/rooms/1.jpg"))
mixin room2
    img(src=require("../images/rooms/2.jpg"))
mixin room3
    img(src=require("../images/rooms/3.jpg"))
mixin room4
    img(src=require("../images/rooms/4.jpg"))
mixin room5
    img(src=require("../images/rooms/5.jpg"))
mixin room6
    img(src=require("../images/rooms/6.jpg"))
mixin room7
    img(src=require("../images/rooms/7.jpg"))
mixin room8
    img(src=require("../images/rooms/8.jpg"))
mixin room9
    img(src=require("../images/rooms/9.jpg"))
mixin room10
    img(src=require("../images/rooms/10.jpg"))
mixin room11
    img(src=require("../images/rooms/11.jpg"))
mixin room12
    img(src=require("../images/rooms/12.jpg"))
mixin room(img1, img2, img3, img4, roomnum, graytextprice, rating, reviewnum)
    .room 
        .room__img
            +#{img1}
            +#{img2}
            +#{img3}
            +#{img4}
        .room__info-wrapper
            .room__info 
                .room__number
                    +roomnum(roomnum)
                .room__price 
                    +graytext(graytextprice, 'в сутки')
            .room__rating
                +#{rating}
                .room__rating-text
                    +graytext(reviewnum, 'Отзывов', 'book-form__room-text--price book-form__room-text--normalprice')
mixin roomluxe(img1, img2, img3, img4, roomnum, graytextprice, rating, reviewnum)
    .room 
        .room__img
            +#{img1}
            +#{img2}
            +#{img3}
            +#{img4}
        .room__info-wrapper
            .room__info 
                .room__number
                    +roomnum(roomnum)
                    +roomclass
                .room__price 
                    +graytext(graytextprice, 'в сутки')
            .room__rating
                +#{rating}
                .room__rating-text
                    +graytext(reviewnum, 'Отзывов', 'book-form__room-text--price book-form__room-text--normalprice')
mixin filterdropdown(id)
    .filterdate 
        span.material-icons.date-dropdown__icon.date-dropdown__icon--wide expand_more
        input.filterdate__input.datepicker-here(type='text' id=id placeholder="Выберите даты")
mixin rangeslider 
    .range-slider
        span.range-slider__result(id="result")
        .range-slider__slide(id="slider") 
mixin expcheckbox(name)
    .expandable-list
        label.expandable-list__title-label(for="expandable-checkbox-list") 
            input.expandable-list__title-input(id="expandable-checkbox-list" type='checkbox')
            p.expandable-list__title-text #{name}
            span.material-icons.expandable-list__control.expandable-list__expand expand_more
            span.material-icons.expandable-list__control.expandable-list__collapse expand_less
            ul.expandable-list__list
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox" name="exp-checkbox")
                        span.expandable-list__style
                        | Завтрак
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                        span.expandable-list__style
                        | Письменный стол
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                        span.expandable-list__style
                        | Стул для кормления
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                        span.expandable-list__style
                        | Кроватка
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox"  name="exp-checkbox")
                        span.expandable-list__style
                        | Телевизор
                li.expandable-list__item
                    label.expandable-list__label
                        input.expandable-list__input(type="checkbox" name="exp-checkbox")
                        span.expandable-list__style
                        | Шампунь
mixin up(icon, title, text, classname)
    .ups 
        .ups__item
            span.material-icons.ups__icon #{icon}
            .ups__description
                h3.ups__title #{title}
                p.ups__text #{text}
        .ups__separator(class=classname)
mixin like(number, checked, clicked)
    .like 
        label.like__label
            input.like__input(class=clicked type="checkbox" checked=checked )
            span.material-icons.like__icon
            span.like__num(value=number) #{number}
mixin review(name, date, avatar, text, number, checked, clicked)
    .review
        .review__profile
            .review__profile-avatar
                img.review__profile-img(src=require("../images/reviews" + avatar))
            .review__like 
                +like(number, checked, clicked)
        .review__info
            p.review__info-name #{name}
            p.review__info-date #{date}
            p.review__info-text.
                #{text}

