mixin twitter
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='twitter', src=require("../images/svg/twitter.png"))
mixin facebook
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='facebook', src=require("../images/svg/facebook.png"))
mixin instagram
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='instagram', src=require("../images/svg/instagram.png"))
mixin logo(classname)
    img(src=require("../images/svg/logo.svg"))
mixin symbol(name, classname)
    span.material-icons(class=classname) #{name}
mixin droplist(name, classname)
    span.material-icons(class=classname) #{name}
        ul.header__droplist.header__droplist--service
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
mixin button-tr(name)
    .button__gradient
        button.button.button--tr #{name}
mixin button(name)
    button.button #{name}
mixin calendar(id)
    .date-dropdown 
        label.date-dropdown__label
        span.material-icons.date-dropdown__icon expand_more
        input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id=id)
mixin heading(title)
    h3.form__title #{title}
mixin guest-dropdown 
    .iqdropdown-guest(id='iqdropdown2')
        p.iqdropdown-selection ...
    .iqdropdown-menu 
        .iqdropdown-menu-option(data-id="guest1"  data-defaultcount="0" data-mincount="0" data-maxcount="4")
            div 
                p.iqdropdown-item взрослые
        .iqdropdown-menu-option(data-id="guest2" data-defaultcount="0" data-mincount="0" data-maxcount="6")
            div 
                p.iqdropdown-item дети
        .iqdropdown-menu-option(data-id="guest3" data-defaultcount="0" data-mincount="0" data-maxcount="2")
            div 
                p.iqdropdown-item младенцы
        .iqdropdown-buttons
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__clear очистить
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__apply применить
mixin arrow-button(title)
    .pay
        button.pay__button #{title}
            span.material-icons.pay__arrow arrow_forward
