mixin twitter
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='twitter', src=require("../images/svg/twitter.png"))
mixin facebook
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='facebook', src=require("../images/svg/facebook.png"))
mixin instagram
    a.footer__copyright-link(href='#')
        img.footer__copyright-img(alt='instagram', src=require("../images/svg/instagram.png"))
mixin logo(classname)
    img(src=require("../images/svg/logo.svg"))
mixin symbol(name, classname)
    span.material-icons(class=classname) #{name}
mixin symbol-out(name, classname)
    span.material-icons-outlined(class=classname) #{name}
mixin droplist(name, classname)
    span.material-icons(class=classname) #{name}
        ul.header__droplist.header__droplist--service
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
            li.header__droplist-item 
                a(href="#") 12313123
mixin button-tr(name)
    .button__gradient
        button.button.button--tr #{name}
mixin button(name)
    button.button #{name}
mixin calendar(id)
    .date-dropdown 
        label.date-dropdown__label
        span.material-icons.date-dropdown__icon expand_more
        input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id=id)
mixin calendarwide(id, classname1, classname2)
    .date-dropdown 
        label.date-dropdown__label
        span.material-icons.date-dropdown__icon(class=classname2) expand_more
        input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id=id, class=classname1)
mixin heading(title, classname)
    h3.form__title(class=classname) #{title}
mixin h1heading(title)
    h1.form__h1title #{title}
mixin guest-dropdown 
    .iqdropdown-guest(id='iqdropdown2')
        p.iqdropdown-selection ...
    .iqdropdown-menu 
        .iqdropdown-menu-option(data-id="guest1"  data-defaultcount="0" data-mincount="0" data-maxcount="4")
            div 
                p.iqdropdown-item взрослые
        .iqdropdown-menu-option(data-id="guest2" data-defaultcount="0" data-mincount="0" data-maxcount="6")
            div 
                p.iqdropdown-item дети
        .iqdropdown-menu-option(data-id="guest3" data-defaultcount="0" data-mincount="0" data-maxcount="2")
            div 
                p.iqdropdown-item младенцы
        .iqdropdown-buttons
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__clear очистить
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__apply применить
mixin arrow-button(title, classname)
    .pay(class=classname)
        button.pay__button #{title}
            span.material-icons.pay__arrow arrow_forward
mixin text-field(placeholder, name, classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="text-field" placeholder=placeholder)
mixin email-field(classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="email" placeholder='Email')
mixin pass-field(classname)
    .text-field(class=classname)
        label.text-field__label
            input.text-field__input(type="text", name="password" placeholder='Пароль')
mixin radio(value, name, title)
    .radio-buttons__wrapper
        label.radio-buttons__label
            input.radio-buttons__input(type='radio' name=name value=value)
            span.radio-buttons__style 
            | #{title}
mixin toggle(text)
    .toggle 
        label.toggle__label
            input.toggle__input(type='checkbox')
            span.toggle__slider
            | #{text}
