doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index page
    body
        .index__nav
            ul.index__list
                li.index__item
                    a(href="/cards.html") Cards
                    img(alt="cards" src=require("../assets/images/index/cards.png" ))
                li.index__item
                    a(href="/colors.html") Colors
                    img(alt="color" src=require("../assets/images/index/color.png"))
                li.index__item
                    a(href="/form.html") Form
                    img(alt="forms" src=require("../assets/images/index/forms.png"))
                li.index__item
                    a(href="/headerfooter.html") Header and footer
                    img(alt="header" src=require("../assets/images/index/header.png"))
                li.index__item
                    a(href="/landing.html") Landing
                    img(alt="landing" src=require("../assets/images/index/landing.png"))
                li.index__item
                    a(href="/registration-page.html") Registration page
                    img(alt="reg" src=require("../assets/images/index/reg.png"))
                li.index__item
                    a(href="/room-details.html") Room details
                    img(alt="roomdetails" src=require("../assets/images/index/roomdetails.png"))
                li.index__item
                    a(href="/search-room.html") Search room
                    img(alt="searchroom" src=require("../assets/images/index/searchroom.png"))
                li.index__item
                    a(href="signin.html") Signin
                    img(alt="signin" src=require("../assets/images/index/signin.png"))
        










